<button class="btn btn-primary button-create-product" (click)="create()"><i class="fa fa-plus" aria-hidden="true"></i><span class="button-span-create">CREATE</span></button>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Warehouse ID</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td>{{ item.warehouseId }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.price }}</td>
      <td>
        <div class="row remove-margin">
          <button class="btn btn-warning button-icon-padding table-button-margin" (click)="edit(item.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger button-icon-padding table-button-margin" (click)="delete(item.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
          <button class="btn btn-primary button-icon-padding table-button-margin" (click)="showImages(item.id)"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-product-createedit></app-product-createedit>
<app-product-delete></app-product-delete>
<app-product-image></app-product-image>
